[Unit]
Description=Ambilight
After=network-online.target

[Service]
Type=simple
ExecStartPre=/bin/sh -c 'until ping -c1 google.com; do sleep 1; done;'
ExecStart=/home/pi/repos/ambilight-server/env/bin/python3 -u /home/pi/repos/ambilight-server/src/ambilight.py
Restart=on-abort
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
